:host {
    // Properties affecting this element
    container: deck-interaction-area / size;
    flex-grow: 1;

    // Properties affecting children
    display: grid;
    grid-template-rows: max-content min-content;
    grid-template-columns: 1fr 1fr;
}

#back-button-container,
#card-display-container,
#forward-button-container {
    min-height: max-content;
}

#back-button-container,
#forward-button-container {
    padding: 1rem;
}

#back-button-container {
    grid-column: 1 / 2; 

    // Under 600px, appears on line after card-display-container
    order: 2;
}

#card-display-container {
    grid-column: 1 / 3;

    // Under 600px, appears first on its own line
    order: 1;
}

#forward-button-container {
    grid-column: 2 / 3;

    // Under 600px, appears last on line after card-display-container
    order: 3;
}

@media screen and (min-width: 600px) {

    :host {
        grid-template-columns: auto max-content auto;
        grid-template-rows: auto;
    }

    #back-button-container {
        // Over 600px, appears on left side of screen
        order: 1;
        
        height: min-content;
    }

    #card-display-container {
        container: card-display-container / inline-size;

        // Over 600px, appears in center of screen
        order: 2;
        grid-column: 2 / 3;

        width: calc(100cqw - 10rem);
        aspect-ratio: 5 / 3;
    }

    @container deck-interaction-area (min-width: calc(4rem + 100cqh * 5 / 3)) {
        #card-display-container {
            width: calc(100cqh * 5 / 3);
        }
    }

    #forward-button-container {
        // Over 600px, appears on right side of screen
        order: 3;
        grid-column: 3 / 4;
        height: min-content;
    }
}