:host {
    width: 100%;
    height: 100%;
}

.renderedLaTeXContainer {
    width: 100%;
    height: 100%;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

.katex-html {
    display: none !important;
}