@use "sass:list";
@use "sass:map";

:host {
    aspect-ratio: 5 / 3;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}

@media screen and (min-width: 600px) {
    :host {
        width: calc(100% - 2rem);
        height: 100%;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :host {
        .flashcard-display {
            border-color: var(--flashcard-light);
        }
    }
}

.flashcard-face {
    position: absolute;
    width: calc(100% - 2rem);
    
    aspect-ratio: 5 / 3;
    padding: 1rem;

    transition: all 1s ease-in-out;
    backface-visibility: hidden;

    border: 1px solid;
    border-radius: 25px;
}


.flashcard-face-no-animation {
    transition: none !important;
}


.flashcard-x-button {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    left: calc(100% - 0.75rem);
    top: -0.75rem;
}

.flashcard-x-button * {
    display:initial;
}

.flashcard-edit-mode-box {
    outline: 0.5px dashed;
    border-radius: 1rem;
}