:host {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

textarea {
    width: calc(100% - 2rem - 6px);
    height: calc(100% - 2rem - 6px);
    resize: none;
    border-color: transparent;
    margin: 1rem;
    background-color: transparent;
}

:not(textarea:focus).outlined {
    outline: 1px solid var(--mat-sys-on-surface);
    border-radius: 1rem;
}